.item {
  cursor: pointer;
  max-width: 400px;
  min-height: 250px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;

  &:hover {
    &:before {
      background-color: rgba(0, 0, 0, 0.7);
    }
  }
  &:before {
    border-radius: inherit;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.45);
    transition: 0.2s;
  }
  .name {
    z-index: 1000;
    color: white;
    font-size: 2em;
  }
  .description {
    color: white;
    font-size: 1.5em;
    z-index: 3;
  }
  //   img {
  //   }
}
